@import url("./style.css");
@import url("./base.css");

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    top: 0;


}

header{
    background-color: rgb(25, 162, 172);
    width: 100%;
    padding: 5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-img {
    background-image: url("..//img/Logo.jpg");
    background-repeat: no-repeat;
    width: 100rem;
    height: 100rem; 
}  